.pagination ,
.pagination_list{
    display: flex;
    flex-wrap: wrap;
}

.pagination{
    justify-content: space-between;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.p-left{
    margin-right: .5rem;
}

.pagination_list .pagination_item{
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.current-page{
    background-color: white;
    color: black;
    cursor: auto;
}

.current-page:hover{
    background-color: white;
    color: black;
}